.ow-break-word {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.fc-light {
  color: #6a737c !important;
}

.fs-headline1 {
  font-size: 1.6875rem !important;
}

.fs-sm {
  font-size: 0.8125rem;
}

.fl1 {
  flex: 1 auto !important;
}

.fw-wrap {
  flex-wrap: wrap !important;
}

.bb {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.bc-black-2 {
  border-color: #e4e6e8 !important;
}

.ws-nowrap {
  white-space: nowrap !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}