.ow-break-word {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.fc-light {
  color: #6a737c !important;
}

.fc-lighter {
  color: #848d95 !important;
}

.fs-17 {
  font-size: 1.0625rem !important;
}

.fs-11 {
  font-size: 0.6875rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-title {
  font-size: 1.61538462rem !important
}

.fl1 {
  flex: 1 auto !important;
}

.bb {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.bc-black-2 {
  border-color: #e4e6e8 !important;
}